#welcome{
    background-color: $color-dark;
    height: 100vh;
    color:#fff;
    display: flex;
}
.welcome-left{
    padding: 5rem;

}
.text-welcome{
    font-weight: 800;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    display: block;
    padding: 2rem 0;
}

.btn-welcome{
    background-color: $color-yellow;
    display: block;
    padding: 1rem 1.5rem; 
    font-weight: 600;
    border-radius: .3rem;
    &:hover{
        background-color: #9bb613;
    }
}

.h1{
    font-weight: 800;
    font-size: 2rem;
}
.h2{
    font-weight: 800;
    font-size: 1rem;
    padding: 2rem 0;
    max-width: 60%;
}
.img-welcome{
    max-width: 40%;
}

